<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign In</h5>
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-label-group">
            <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
            <div class="badge badge-pill badge-danger" *ngIf="formErrors.email">
                {{formErrors.email}}
            </div>
          </div>

          <div class="form-label-group">
            <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
            <div class="badge badge-pill badge-danger" *ngIf="formErrors.password">
              {{formErrors.password}}
            </div>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
          <br>
          <p>No account yet? <strong><a routerLink="/register" >Register</a></strong></p>
        </form>
      </div>
    </div>
  </div>
</div>
