<h3 class=" text-center">Weird Chat</h3>
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="user-info">
          <h3>{{ activeUser?.username }}</h3>
          <i><small>{{ activeUser?.email }}</small></i> 
        </div>
        <button (click)="logout()" class="btn btn-dark pull-right btn-sm">Log out</button>
      </div>
      <div class="inbox_chat">
        <div *ngFor="let chat of chats" class="chat_list active_chat">
          <div class="chat_people">
            <div class="chat_ib">
              <a [routerLink]="['/chat', chat.slug]">{{ chat.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mesgs">
      <chat-messages [messages]="chatMessages"></chat-messages>
      <div class="type_msg">
        <div class="input_msg_write">
          <input [formControl]="msgInput" type="text" class="write_msg" placeholder="Type a message" />
          <button (click)="sendMessage()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>