<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Register</h5>
        <form class="form-signin">
          <!--EMAIL-->
          <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
          </div>

          <!--USERNAME-->
          <div class="form-label-group">
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
            <label for="inputUsername">Username</label>
          </div>

          <!--PASSWORD-->
          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
          </div>

          <!--CONFIRM PASSWORD-->
          <div class="form-label-group">
            <input type="password" id="inputCPassword" class="form-control" placeholder="Password" required>
            <label for="inputCPassword">Confirm password</label>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
          <br>
          <p>Already have an account? <strong><a routerLink="/login" >Log in</a></strong></p>
        </form>
      </div>
    </div>
  </div>
</div>
